<main class="cart">
    <div>
        <h2>Cart</h2>
        <div class="cart-products">

        </div>
    </div>
    <form action="api/makeOrder" id="order-form" method="post">
        <div>           
            <label for="deliver">
                <input type="radio" id="deliver" value="Deliver" name="DeliverType">
                Deliver
            </label>

            <label for="takeoff">
                <input type="radio" id="takeoff" value="TakeOff" name="DeliverType">
                Take Off
            </label>
        </div>
        <div>
            <input type="text" name="Address" value="{{ user.Address }}" placeholder="Address" required>
            <input type="text" name="City" value="{{ user.City }}" placeholder="City" required>
            <input type="date" name="Date">
            <input type="submit" name="Order" value="order">
        </div>
    </form>
</main>