<div class="content1">
    <h2>flavour of the day</h2>
    {% if product %}
    <a href="product/{{ product.id }}">
        <img src="view/image/{{ product.Image }}" alt={{ product.Name }}>
    </a>
    {% endif %}
</div>