<div class="content2">
    <h2>Popular flavours</h2>
    <a href="#">
        <img src="view/image/strawberry-ice.jpg" alt="strawberry ice">
    </a>
    <a href="#">
        <img src="view/image/strawberry-ice.jpg" alt="strawberry ice">
    </a>
    <a href="#">
        <img src="view/image/strawberry-ice.jpg" alt="strawberry ice">
    </a>
</div>