<div class="content1">
    <h2>flavour of the day</h2>
    <a href="#">
        <img src="view/image/strawberry-ice.jpg" alt="strawberry ice">
    </a>
    <button><a href="#">Order</a></button>
</div>