        </div>
        <footer>
            <div class="footer-row">
                <h3>Our address</h3>
                <ul>
                    <li><a href="https://www.google.nl/maps/place/Castricum/" target="_blank">Castricum</a></li>
                </ul>
            </div>
            <div class="footer-row">
                <h3>Delivery Areas</h3>
                <ul>
                    <li><a href="https://www.google.nl/maps/place/Castricum/" target="_blank">Castricum</a></li>
                    <li><a href="https://www.google.nl/maps/place/Akersloot/" target="_blank">Akersloot</a></li>
                    <li><a href="https://www.google.nl/maps/place/Heiloo/" target="_blank">Heiloo</a></li>
                </ul>
            </div>
            <div class="footer-row">
                <h3>Information</h3>
                <ul>
                    <li><a href="http://localhost/IJssalon/about">About</a></li>
                </ul>
            </div>
        </footer>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    {% for script in scripts %}
    <script src={{ script }}></script>
    {% endfor %}
</html>
