        </div>
        <footer>
            <div class="footer-row">
                <h3>Our address</h3>
                <ul>
                    <li><a href="#">Castricum</a></li>
                </ul>
            </div>
            <div class="footer-row">
                <h3>Delivery Areas</h3>
                <ul>
                    <li><a href="#">Castricum</a></li>
                    <li><a href="#">Akersloot</a></li>
                    <li><a href="#">Heiloo</a></li>
                </ul>
            </div>
            <div class="footer-row">
                <h3>Row 3</h3>
                <ul>
                    <li><a href="#">Link 7</a></li>
                    <li><a href="#">Link 8</a></li>
                    <li><a href="#">Link 9</a></li>
                </ul>
            </div>
        </footer>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    {% for script in scripts %}
    <script src={{ script }}></script>
    {% endfor %}
</html>
