<main class="order">
    <h2>Flavours</h2>
    <div>
        <a href="#">
            <img src="view/image/strawberry-ice.jpg" alt="strawberry ice">
        </a>
        <a href="#">
            <img src="view/image/strawberry-ice.jpg" alt="strawberry ice">
        </a>
        <a href="#">
            <img src="view/image/strawberry-ice.jpg" alt="strawberry ice">
        </a>
        <a href="#">
            <img src="view/image/strawberry-ice.jpg" alt="strawberry ice">
        </a>
        <a href="#">
            <img src="view/image/strawberry-ice.jpg" alt="strawberry ice">
        </a>
        <a href="#">
            <img src="view/image/strawberry-ice.jpg" alt="strawberry ice">
        </a>
        <a href="#">
            <img src="view/image/strawberry-ice.jpg" alt="strawberry ice">
        </a>
        <a href="#">
            <img src="view/image/strawberry-ice.jpg" alt="strawberry ice">
        </a>
        <a href="#">
            <img src="view/image/strawberry-ice.jpg" alt="strawberry ice">
        </a>
        <a href="#">
            <img src="view/image/strawberry-ice.jpg" alt="strawberry ice">
        </a>
        <a href="#">
            <img src="view/image/strawberry-ice.jpg" alt="strawberry ice">
        </a>
        <a href="#">
            <img src="view/image/strawberry-ice.jpg" alt="strawberry ice">
        </a>
    </div>
</main>