:root {
    --main-radius: 5px;
    --main-padding: 5px;
    --brown-btn-hover: #8B4513;
    --pink-color: #FFC6D9;
    --pale-pink-color: #FCE5EC;
    --beige-color: #F5DEB3;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}


/* ================================================================================
START Page css
===================================================================================*/ 

body {
  display: grid; 
  min-height: 100vh;
  grid-template-columns: 1fr; 
  grid-template-rows: 80px 4fr minmax(200px, 0.5fr);
  grid-template-areas: 
    "header"
    "content"
    "footer"
  ;
  grid-gap: 2rem;
  text-transform: uppercase;
  text-align: center; 
  background-color: #FFFFF0;
}

.content {
    margin: 0 auto;
    width: 60%;
    display: grid;
    grid-area: content;
    grid-template-columns: minmax(250px, 1fr) 3fr;
    grid-template-rows: 300px 3fr;
    grid-template-areas: 
        "content1 main"
        "content2 main"
    ;
    grid-gap: 2rem;
    text-align: center;
}

.content input {
    background-color: var(--beige-color);
    color: black;
}

@media only screen and (max-width: 1360px) {.content { width: 70%;}}

@media only screen and (max-width: 1170px) {.content { width: 80%;}}

@media only screen and (max-width: 1020px) {.content { width: 90%;}}

@media only screen and (max-width: 910px) {.content { width: 95%;}}

@media only screen and (max-width: 860px) {

    .content {
        width: 95%;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 600px 1fr;
        grid-template-areas: 
        "content1"
        "content2"
        "main"
        ;
    }
}

main {
    grid-area: main;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    border: 2px solid black;
}

img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;
    outline: 2px solid black;
}

.content1,
.content2 {
    grid-area: content1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    border: 2px solid black;
}

.content1 a,
.content2 a {
    color: black;
}

.content2 {
    grid-area: content2;
    height: 600px;
}

.content1 h2,
.content2 h2 {
    margin: 10px;
}

#alert-popup {
    position: fixed;
    text-transform: none;
    z-index: 9999;
    top: 100px;
    right: 0;
    background-color: var(--brown-btn-hover);
    color: white;
    padding: 20px;
    display: none;
    animation: slide-down 0.5s ease;
}
  
@keyframes slide-down {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
}
  

/* ================================================================================
START Page css
===================================================================================*/ 



/* ================================================================================
START Register and Login css
===================================================================================*/ 

.register-container {
    display: grid;
    grid-column: 1 / 5;
    place-items: center;
    height: 100vh;
    background: url('../image/login-bg.webp') no-repeat;
    background-size: cover;
    text-transform: none;
}

.register-container form {
    display: grid;
    min-width: 250px;
    width: 70%;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    justify-items: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.register-container h1 {
    color: white;
}

.register-container .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: 1fr;
    width: 85%;
    padding: 15px;
}

.register-container .form-link {
    color: rgb(44, 133, 221);
    margin: 10px;
}

.register-container .error {
    color: red;
}

.register-container input {
    padding: 0.7rem 0;
    font-size: 1rem;
    width: 100%;
    background-color: inherit;
    border: none;   
    border-bottom: 1px solid white;
    color: white;
}

.register-container input::placeholder {
    color: white;
}

.register-container input:focus {
    outline: none;
    background-color: inherit;
}

.register-container button[type="submit"] {
    padding: 0.5rem;
    margin: 10px;
    width: 85%;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
}

/* ================================================================================
END Register and Login css
===================================================================================*/ 



/* ================================================================================
START Header css
===================================================================================*/ 

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 25px;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--pale-pink-color);
}
  
.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}
  
nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
  
nav li {
    margin-left: 20px;
}
  
nav li:first-child {
    margin-left: 0;
}
  
nav a {
    color: #333;
    text-decoration: none;
}
  
nav a:hover {
    text-decoration: underline;
}
  
.menu-toggle {
    display: none;
}
  
@media only screen and (max-width: 768px) {
    
    nav ul {
        display: none;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    
    nav li {
        margin: 10px 0;
    }
    
    .menu-toggle {
        display: block;
        cursor: pointer;
    }
    
    .menu-toggle span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 5px 0;
    }
    
    nav ul.active {
        display: flex;
    }
}
  
/* ================================================================================
END Header css
===================================================================================*/ 




/* ================================================================================
START Footer css
===================================================================================*/

footer {
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
    color: #333;
    background-color: var(--pale-pink-color);
}
  
.footer-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 100px;
    margin: 5px 0;
    justify-content: center;
}

.footer-row h3 {
    margin-bottom: 20px;
}

.footer-row ul {
    min-height: 100px;
    list-style: none;
    text-transform: none;
}

.footer-row li {
    margin-bottom: 10px;
}

.footer-row a {
    color: #666;
}

.footer-row a:hover {
    color: #333;
}
  
/* ================================================================================
END Footer css
===================================================================================*/ 


/* ================================================================================
START order css
===================================================================================*/ 

.order > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.order > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 2px;
}

.order button,
.product button,
.cart-products button {
    width: 80px;
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: var(--main-radius);
    border: 2px solid black;
    background-color: var(--beige-color);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

.order button:hover,
.product button:hover,
.cart-products button:hover {
    background-color: var(--brown-btn-hover);
    color: white;
}

.order a {
    color: black;
}

/* ================================================================================
END order css
===================================================================================*/ 

/* ================================================================================
START product css
===================================================================================*/ 

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: none;
}
  
.product h2 {
    margin: 20px;
}
  
.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
  
.product-image img {
    min-width: 250px;
    min-height: 250px;
    object-fit: contain;
}
  
.product div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
  
.product div p {
    text-align: left;
    margin-bottom: 10px;
}

/* ================================================================================
END product css
===================================================================================*/ 

/* ================================================================================
START about css
===================================================================================*/ 

.about div {
    text-align: left;
    text-transform: none;
    line-height: 1.5;
    padding: 20px;
}

.about p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
}

/* ================================================================================
END about css
===================================================================================*/ 

/* ================================================================================
START account css
===================================================================================*/ 

.account > div {
    margin: 40px;
    text-align: left;
    text-transform: none; 
    border: 2px solid black;  
    padding: 20px;
}

.account form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-form {
    display: grid;
    width: 100%;
    grid-template-columns: 120px auto;
    grid-gap: 10px;
    align-items: center;
}

.account-buttons {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    width: 100%;
}

.account input {
    border: none;
    padding: 4px;
    border-radius: 2px;
}

.account label {
    text-align: right;
    padding-right: 10px;
}

.account input[type=submit] {
    margin-top: 20px;
    width: fit-content;
    padding: 0 5px;
    height: 30px;
    border: none;
    border-radius: var(--main-radius);
    border: 2px solid black;
    background-color: var(--beige-color);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

.account input[type=submit]:hover {
    background-color: var(--brown-btn-hover);
    color: white;
}

.account table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.account table img {
    width: 70px;
    height: 70px;
}

.account table th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--beige-color);
}

.account table td {
    padding: 8px;
    height: 30px;
    text-align: left;
}

.account table tbody tr {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.account table th {
    background-color: var(--beige-color);
}

.account table tbody tr:hover {
    background-color: var(--brown-btn-hover);
    color: #fff;
}
  
@media screen and (max-width: 600px) {

    thead {
        display: none;
    }

    tbody tr {
        margin-bottom: 20px;
        display: block;
        border-bottom: 1px solid #ddd;
    }

    tbody td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: none;
        position: relative;
        padding-left: 50%;
    }

    tbody td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 8px;
        font-weight: bold;
        text-align: left;
    }
}

@media only screen and (max-width: 450px) {
    .account label {
        display: none;
    }

    .account-form {
        display: flex;
        flex-direction: column;
    }
}

/* ================================================================================
END account css
===================================================================================*/ 

/* ================================================================================
END cart css
===================================================================================*/ 

.cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart .cart-products > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 2px;
}

.cart form {
    margin-top: 15px;
    border-top: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cart form div {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: left;
}

.cart form div:first-child {
    height: fit-content;
    min-width: fit-content;
}

.cart form input,
.cart form span {
    margin: 10px;
    border: 2px solid black;
}

.cart form label {
    margin: 10px;
    border: 2px solid black;
    cursor: pointer;
    padding: 2px;
    background-color: var(--beige-color);
}

.cart form input[type=text] {
    padding: 2px;
}

.cart form input[type=submit] {
    padding: 8px 40px;
    border: none;
    border-radius: var(--main-radius);
    border: 2px solid black;
    background-color: var(--beige-color);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

.cart form input[type=submit]:hover {
    background-color: var(--brown-btn-hover);
    color: white;
}

.cart-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cart-products img {
    width: 100px;
    height: 100px;
}

.order-price {
    text-transform: none;
}

.order-price div {
    background-color: var(--beige-color);
}

.order-price p {
    margin: 10px;
}

/* ================================================================================
END cart css
===================================================================================*/ 

/* ================================================================================
START message css
===================================================================================*/ 

.message p {
    text-transform: none;
}

/* ================================================================================
END message css
===================================================================================*/ 